{% extends "./layouts/layout.html" %}

{% block title %}
{% if campaign %}
Edit Campaign
{% else %}
Create Campaign
{% endif %}
{% endblock %}

{% block content %}
<div class="rounded-lg shadow-2xl border p-8">
    <h1 class="text-3xl font-bold mb-8">
        {% if campaign %}
        Edit Campaign
        {% else %}
        Create Campaign
        {% endif %}
    </h1>
    <form action="{{ url_for('campaign_form') }}" method="post" enctype="multipart/form-data" class="flex flex-col gap-12">
        {% if campaign %}
        <input type="hidden" name="campaign_id" value="{{ campaign.id }}">
        {% endif %}
        <div class="flex flex-col">
            <label for="title" class="font-medium mb-1">Campaign Title:</label>
            <input type="text" class="border border-gray-300 rounded-md px-3 py-2" id="title" name="title"
                value="{{ campaign.title if campaign else '' }}" required>
        </div>
        <div class="flex flex-row w-full gap-4">
            <div class="flex flex-col flex-1">
                <label for="start_date" class="font-medium mb-1">Start Date:</label>
                <input type="date" class="border border-gray-300 rounded-md px-3 py-2" id="start_date" name="start_date"
                    value="{{ campaign.start_date if campaign else '' }}" required>
            </div>
            <div class="flex flex-col flex-1">
                <label for="end_date" class="font-medium mb-1">End Date:</label>
                <input type="date" class="border border-gray-300 rounded-md px-3 py-2" id="end_date" name="end_date"
                    value="{{ campaign.end_date if campaign else '' }}" required>
            </div>
        </div>

        <div class="flex flex-col">
            <label for="purpose" class="font-medium mb-1">Purpose:</label>
            <textarea class="border border-gray-300 rounded-md px-3 py-2" id="purpose" name="purpose" rows="3"
                required>{{ campaign.purpose if campaign else '' }}</textarea>
        </div>
        <div class="flex justify-between">
            {% if campaign %}
            <a href="{{ url_for('campaign', campaign_id=campaign.id) }}"
                class="bg-slate-700 hover:bg-slate-800 text-white font-bold py-2 px-4 rounded">
                Cancel
            </a>
            {% else %}
            <a href="{{ url_for('dashboard') }}"
                class="bg-slate-700 hover:bg-slate-800 text-white font-bold py-2 px-4 rounded">
                Cancel
            </a>
            {% endif %}

            <button type="submit" class="bg-slate-700 hover:bg-slate-800 text-white font-bold py-2 px-4 rounded">
                {% if campaign %}
                Update Campaign
                {% else %}
                Create Campaign
                {% endif %}
            </button>
        </div>

    </form>
</div>
{% endblock %}
