{% extends "./layouts/layout.html" %}
<!-- fi -->
{% block title %}Profile{% endblock %}
<!-- fi -->
{% block content %}
<div class="rounded-xl shadow-2xl border  p-8 pb-16">
  <h1 class="text-3xl font-bold mb-8">Hello {{ user_data[2] }} {{ user_data[3] }}</h1>

  <div class="mb-8 flex flex-row justify-between">
    <div class="text-2xl font-bold mb-4">Ongoing Campaigns</div>
    <div class="flex justify-end">
      <a href="{{ url_for('campaign_form') }}"
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full flex flex-row items-center gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
        Start Campaign
      </a>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-2">
    {% for campaign in campaigns %}
    <a role="button" class="cursor-pointer" href="{{ url_for('campaign', campaign_id=campaign.id) }}">
      <div class="bg-white p-4 rounded-lg border mb-4 shadow-none transition-all hover:shadow-md">
        <h3 class="text-xl font-bold mb-2">{{ campaign.title }}</h3>
        <p>Start Date: {{ campaign.start_date }}</p>
        <p>End Date: {{ campaign.end_date }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
